.container {
  display: grid;
  grid-template-columns: 500px 1fr;
  column-gap: 1rem;
  width: 100%;
  /* height: auto; */
  color: var(--text-color);
  padding: 2rem;
}

.progress {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: var(--bg-color-1);
  padding: 1rem;
  border-radius: .5rem;
}

.insertPost {
  display: flex;
  padding: 1rem;
  background-color: var(--bg-color-1);
  border-radius: 1rem;
  width: 100%;
}

.insertPost form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}

.insertPost input {
  display: none;
  width: fit-content;
}

.insertPost input[type="checkbox"] {
  display: flex;
}

.insertPost .formElement label {
  width: 100%;
  display: inline-block;
  padding: .8rem 1.6rem;
  background: var(--bg-color-3);
  border: 2px solid var(--bg-color-3);
  border-radius: 17px;
  font-size: .85rem;
  color: var(--heading-color);
  cursor: pointer;
  transition: .3s;
}

.insertPost .formElement label:hover {
  filter: brightness(1.4);
  transform: scale(1.01);
}

.insertPost .delete {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}

.favoritePosts {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--bg-color-1);
  border-radius: 1rem;
  width: 100%;
  font-size: .9rem;
}

.favoritePosts h2 {
  width: 100%;
  height: fit-content;
}

.favoritePosts .post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: .8rem 1.5rem;
  background-color: var(--bg-color-2);
  border-radius: .8rem;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.favoritePosts .post .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.favoritePosts .post .actions span {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
